<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>login</h1>
    <form action="/login" method="POST">
    <label for="uname">username</label><br>
    <input type="text" name="uname" id="uname">
    <br><br>
    <label for="passwd">password</label><br>
    <input type="password" name="passwd" id="passwd">
    <br><br>
    <input type="submit" value="login">
</form>


{% if err %}
<p><strong>ERROR</strong>  {{ err }}</p>
{% endif %}
</body>
</html>